<div class="column20" id="block_14_1">
			<div class="dragbox"   id="box_14_1">
				<h2>
				<span class="configure" ><a href="#" ><@s.m "cms.visual.editblock"/></a></span>
				<span class="delete" ><a href="#"  onclick="deleteBlock(this)"><@s.m "cms.visual.deleteblock"/></a></span>
				</h2>
				<div class="dragbox-content" >
				</div>
			</div>
</div>
<div class="column80" id="block_14_2">
			<div class="dragbox"   id="box_14_2">
				<h2>
				<span class="configure" ><a href="#" ><@s.m "cms.visual.editblock"/></a></span>
				<span class="delete" ><a href="#" onclick="deleteBlock(this)"><@s.m "cms.visual.deleteblock"/></a></span>
				</h2>
				<div class="dragbox-content" >
				</div>
			</div>
</div>