<div class="column33" id="block_12_1">
			<div class="dragbox"   id="box_12_1">
				<h2>
				<span class="configure" ><a href="#" ><@s.m "cms.visual.editblock"/></a></span>
				<span class="delete" ><a href="#" onclick="deleteBlock(this)"><@s.m "cms.visual.deleteblock"/></a></span>
				</h2>
				<div class="dragbox-content" >
				</div>
			</div>
</div>
<div class="column66" id="block_12_2">
			<div class="dragbox"   id="box_12_2">
				<h2>
				<span class="configure" ><a href="#" ><@s.m "cms.visual.editblock"/></a></span>
				<span class="delete" ><a href="#" onclick="deleteBlock(this)"><@s.m "cms.visual.deleteblock"/></a></span>
				</h2>
				<div class="dragbox-content" >
				</div>
			</div>
</div>